<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Demo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>26F09A2079E76BACEA69C0A6B61C2A2C4918D947</string>
				<key>dateExpires</key>
				<string>2019/5/2</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W3ZLXUBXJ4.com.cheku.hireCar</string>
				<key>com.apple.developer.team-identifier</key>
				<string>W3ZLXUBXJ4</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>W3ZLXUBXJ4.com.cheku.hireCar</string>
				</array>
			</dict>
			<key>name</key>
			<string>Demo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ee07f835-7892-4b09-80b1-81cb537916ad</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.cheku.hireCar</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W3ZLXUBXJ4</string>
				<key>name</key>
				<string>Fujian Denghuojv Network Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
